body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.header-container {
  display: flex;
  height: 88px;
  width: 99%;
  border-bottom: 1px solid gray;
}

.header-item {
  width: 49%;
  padding: 5px;
  margin-top: 6px;
}

.nav {
  padding: 10px;
}

.nav-link {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

.logo-text {
  color: blue;
  font-size: 1.5rem;
  font-weight: 600;
}

.rocket-itemes {
  display: flex;
  padding: 10px;
}

.rocket-item-one {
  width: 30%;
}

.rocket-item-two {
  width: 60%;
}

a.active {
  text-decoration: underline;
}

.rocket-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.rocket-item-image {
  width: 28%;
  padding: 10px;
  justify-content: center;
  margin: 0 auto;
}

.rocket-item {
  width: 70%;
  padding: 10px;
}

.rocket-image {
  width: 15rem;
  border-radius: 5px;
}

.rocket-name {
  font-size: 1.5rem;
}

button {
  padding: 6px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  margin: 10px;
}

.reserve-button {
  background-color: #007efa;
  color: #fff;
  display: block;
}

.cancel-button {
  background-color: #f3f2f2;
  outline: auto;
  display: block;
  border: 1px solid gray;
}

.reserved {
  background-color: #00a3b7;
  padding: 1px;
  border-radius: 6px;
  margin: 5px;
}

a.active {
  text-decoration: underline;
}

.my-profile {
  display: flex;
  flex-wrap: wrap;
}

.my-profile-item {
  width: 49%;
  padding: 1rem;
}